.header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    padding: .6rem 0;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 99;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
}

.logo {
    padding: .6rem 0;
}

.login {
    display: flex;
    align-items: center;
}

.login::after {
    content: '';
    background: url('../Assets/usuario.svg') no-repeat center center;
    margin-left: .6rem;
    display: inline-block;
    width: 14px;
    height: 17px;
    position: relative;
    top: -1px;
}