.photo {
    margin: 0 auto;
    height: 36rem;
    border-radius: .9rem;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 36rem 20rem;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    animation: scaleUp .3s forwards;
}

@keyframes scaleUp {
    to {
        opacity: 1;
        transform: initial;

    }
}

.details {
    padding: 1.9rem 1.9rem 0rem 1.9rem;
}

.img {
    grid-row: 1/4;
}

.comments {
    padding: 0 2rem;
}

@media (max-width: 64rem) {
    .photo.single {
        grid-template-columns: 1fr;
    }

    .single .container {
        padding: 0;
    }

    .single .mainContainer {
        margin-top: 0.9rem;
    }

    .photo {
        height: auto;
        max-height: calc(100vh - 4rem);
        overflow-y: auto;
        grid-template-columns: minmax(20rem, 40rem);
    }

    .img {
        grid-row: 1;
    }
}

.author {
    opacity: .6;
    margin-bottom: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.author a:hover {
    text-decoration: underline;
}

.views::before {
    content: '';
    width: 16px;
    height: 10px;
    margin-right: .6rem;
    background: url('../../Assets/visualizacao-black.svg') no-repeat center center;
    display: inline-flex;
}

.attributes {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.attributes li {
    margin-right: 1.9rem;
}

.attributes li::before {
    content: '';
    display: inline-block;
    height: 19px;
    margin-right: .6rem;
    position: relative;
    top: 3px;
    width: 3px;
    background-color: #232323;
    margin-top: 6px;
}