@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

:root {
    /*=== Variáveis CSS  ===*/

    /* Fonts */
    --font-main: Arial, sans-serif;
    --font-second: 'Spectral', georgia;
}

/* CSS Reset ===============*/
* {
    box-sizing: border-box;
}

body {
    /* header height size*/
    padding-top: 4.20rem;

    margin: 0;
    color: #333;
    font-family: var(--font-main);
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: var(--font-main);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/* ===============  */


/* Class geral, englobará o App.jsx */
.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.mainContainer {
    margin-top: 4rem;
}

/* title */
.title {
    font-family: var(--font-second);
    line-height: 1;
    font-size: 3rem;
    margin: 1rem 0;
    position: relative;
}

.title::after {
    content: '';
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    background-color: rgba(255, 169, 19, 0.699);
    position: absolute;
    top: 19px;
    left: -6px;
    z-index: -1;
    border-radius: 3px;
}


/* Animation */
.animeLeft {
    opacity: 0;
    transform: translateX(-19px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}